/Huffman Codering/nbproject/private/
/Huffman Codering/build/
/Huffman Codering/dist/
/TreeView&TableView/nbproject/private/
/TreeView&TableView/dist/
/TreeView&TableView/build/
/Treeview&Tableview/nbproject/private/
/Treeview&Tableview/build/
/Treeview&Tableview/dist/